@{
	ViewBag.Title = "About";
}

<h2>About<small> Azure Photos</small></h2>
<p class="lead">Azure Photos was created to help demonstrated the "<a href="http://www.windowsazure.com/en-us/documentation/services/cloud-services/" target="_blank">Cloud Services</a>" that are offered by <a href="http://www.windowsazure.com" target="_blank">Microsoft Azure</a>.</p>

<h3>Technologies Used</h3>
<hr />

<div class="media">
	<div class="media-body">
		<h4 class="media-heading">ASP.NET MVC 5</h4>
		ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and that gives you full control over markup for enjoyable, agile development. ASP.NET MVC includes many features that enable fast, TDD-friendly development for creating sophisticated applications that use the latest web standards.
		<a class="media-right btn btn-xs btn-default" href="http://www.asp.net/mvc">Visit</a>	
	</div>
</div>

<div class="media">
	<div class="media-body">
		<h4 class="media-heading">ASP.NET Web Pages 2</h4>
		ASP.NET Web Pages and the new Razor syntax provide a fast, approachable, and lightweight way to combine server code with HTML to create dynamic web content. Connect to databases, add video, link to social networking sites, and include many more features that let you create beautiful sites using the latest web standards.
		<a class="media-right btn btn-xs btn-default" href="http://www.asp.net/web-pages">Visit</a>
	</div>
</div>

<div class="media">
	<div class="media-body">
		<h4 class="media-heading">Entity Framework 6.1</h4>
		Entity Framework (EF) is an object-relational mapper that enables .NET developers to work with relational data using domain-specific objects. It eliminates the need for most of the data-access code that developers usually need to write.
		<a class="media-right btn btn-xs btn-default" href="http://www.asp.net/entity-framework">Visit</a>
	</div>
</div>

<div class="media">
	<div class="media-body">
		<h4 class="media-heading">Microsoft Azure</h4>
		Azure delivers a 99.95% compute SLA and enables you to run solutions on the same cloud that powers Skype, Office 365, Bing, and Xbox. Azure provides built-in software patching, network load balancing and high-availability features. Azure offers 24x7 technical support with engineers constantly monitoring service health.
		<a class="media-right btn btn-xs btn-default" href="http://windowsazure.com/">Visit</a>
	</div>
</div>

<div class="media">
	<div class="media-body">
		<h4 class="media-heading">Bootstrap 3</h4>
		The most popular front-end framework for developing responsive, mobile first projects on the web.
		<a class="media-right btn btn-xs btn-default" href="http://getbootstrap.com/">Visit</a>
	</div>
</div>
<div class="media">
	<div class="media-body">
		<h4 class="media-heading">Fontawesome 4.0</h4>
		Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.
		<a class="media-right btn btn-xs btn-default" href="http://fontawesome.io/">Visit</a>
	</div>
</div>

<div class="media">
	<div class="media-body">
		<h4 class="media-heading">jQuery 2.1</h4>
		jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.
		<a class="media-right btn btn-xs btn-default" href="http://jquery.com/">Visit</a>
	</div>
</div>