@{
	ViewBag.Title = "Contact";
}

<h2>Contact <small>Joseph Guadagno</small></h2>

<address>
	<strong><a href="http://www.josephguadagno.net">www.josephguadagno.net</a></strong><br />
	<a href="http://www.twitter.com/jguadagno">@@jguadagno</a><br />
	<abbr title="Phone">P:</abbr>602-293-6767
</address>

<address>
	<strong>Email:</strong>&nbsp;<a href="mailto:jguadagno@hotmail.com">jguadagno@hotmail.com</a><br />
</address>